<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class=" w-full min-h-screen bg-white-900 text-zinc-600 p-10 " >
        <h1 class="text-2xl text-blue-700 mb-6" >WELCOME TO BAGNEST</h1>
        <h3 class="text-xl text-amber-600 mb-5 font-sans" >Register your account</h3>
       <form  action="/register" method="post">
            <input class="px-2 py-2 outline-none rounded-md bg-transparent border-2 border-zinc-400" type="email" placeholder="Email" name="email">
            <input class="px-2 py-2 outline-none rounded-md bg-transparent border-2 border-zinc-400" type="text" placeholder="Username" name="username">
            <input class="px-2 py-2 outline-none rounded-md bg-transparent border-2 border-zinc-400" type="password" placeholder="Password" name="password">
            <input class="px-5 py-2 rounded-md text-l text-zinc-700 bg-yellow-400" type="submit" value="Create Account">
        </form>
    </div>
</body>
</html>